<html>
    <body>
        <h2>Submit your message</h2>
        <form method="POST" action="/new">
            name: <input type="text" name="name" />
            <br />
            message: <textarea name="messageText" id="msgData"></textarea>
            <br />
            <button type="submit">Submit</button>
        </form>
    </body>
</html>